@model WebApplication1.Models.Product

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quntaty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quntaty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.picture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.ID)
        </dd>
    </dl>
</div>
<div>
    <a onclick="EditProduct(@Model.ID)" class="btn btn-primary">Edit</a> |
    <a href="#" onclick="getProducts()" class="btn btn-primary">Back to List</a>
</div>
